name: Docker Image CI/CD

on:
  push:
    tags:
      - v0.*
      - v1.*

jobs:
  build-and-publish:
    name: Build and publish docker image
    runs-on: ubuntu-latest
    steps:
      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: xakep666/licensevalidator
          dockerfile: ./cmd/licensevalidator/Dockerfile
          tag_with_ref: true
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
